#root{
    width:100%;
    .makeStyles-root-1, .MuiTablePagination-root{
        width:85%;
        margin: 0 auto;
    }

        .header{
            text-align: center;
            padding-top:5px;

            h1{
                font-size: 50px;
                margin-bottom: 5px;
            }
        }
    
}

