//Custom Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body {
  margin: 0;
  display: block;
  overflow: auto scroll;
}

html,
body {
  height: 100%;
}

#root,
.App {
  height: 100%;
}
